.initial
{
    display:block;
    padding: 4px 18px 4px 18px;
    color:#ea6d05;
    float:left;
    /*background-color:black;*/
    font-family: 'Karla', sans-serif;
    font-size:15px;
}

.initial:hover
{
    background: black;
    color:#2B65EC;
}

.clicked
{
    float:left;
    display:block;
    padding:4px 18px 4px 18px;
    color:orange;
    font-weight:bold;
    color:black;
    font-size:15px;
    /*background-color:black;*/
}

/* ////////////////////////////////////////////////////////////////// */

.viewTable
{
    clear:left; 
    width:100%;
    margin-top:2%;
}

.lbl_title
{    
    font-size:18px;
}

.lbl_desc
{
    font-style:italic;
    font-size:14px;
}

.lb_fontSize
{
    font-size:15px;
}

.btn_nextPrevious
{
    width:10%;
    font-size:14px;
}

.lbl_creator
{
    text-align:right;
}
