<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://instasecure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>instasecure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>instasecure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$instasecure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InstaKGConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mn8dlq68su.database.windows.net,1433;Initial Catalog=instasecure_db;User ID=erics@mn8dlq68su;Password=2353033@giovano" Name="Data Source=tcp:mn8dlq68su.database.windows.net,1433;Initial Catalog=instasecure_db;User Id=erics@mn8dlq68su;Password=2353033@giovano" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LOCALHOST;Initial Catalog=InstaKG;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InstaKGConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LOCALHOST;Initial Catalog=InstaKG;Integrated Security=SSPI;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InstaKG" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mn8dlq68su.database.windows.net,1433;Initial Catalog=instasecure_db;User ID=erics@mn8dlq68su;Password=2353033@giovano" Name="Data Source=tcp:mn8dlq68su.database.windows.net,1433;Initial Catalog=instasecure_db;User Id=erics@mn8dlq68su;Password=2353033@giovano" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LOCALHOST;Initial Catalog=InstaKG;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InstaKG_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LOCALHOST;Initial Catalog=InstaKG;Integrated Security=SSPI;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InstaKG-Web.config Connection String">
      <ParameterValue>data source=tcp:mn8dlq68su.database.windows.net,1433;initial catalog=instasecure_db;user id=erics@mn8dlq68su;password=2353033@giovano;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InstaKGConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:mn8dlq68su.database.windows.net,1433;initial catalog=instasecure_db;user id=erics@mn8dlq68su;password=2353033@giovano;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>